<jqa:jqassistant-rules xmlns:jqa="http://www.buschmais.com/jqassistant/core/analysis/rules/schema/v1.0">

    <concept id="module:modules">
        <requiresConcept refId="module-model:Module"/>
        <requiresConcept refId="module-store:Module"/>
        <requiresConcept refId="module-scanner:Module"/>
        <requiresConcept refId="module-report:Module"/>
        <requiresConcept refId="module-analysis:Module"/>
        <description>Returns all modules, i.e. all packages labelled with MODULE.</description>
        <cypher><![CDATA[
			MATCH
				(package:MODULE)
			RETURN
				package
			ORDER BY
			    package.FQN
        ]]></cypher>
    </concept>

    <concept id="module:API">
        <description>Labels all .api packages as API.</description>
        <cypher><![CDATA[
			MATCH
				(apiPackage:PACKAGE)
			WHERE
				apiPackage.FQN =~ ".*\\.api"
			SET
			    apiPackage:API
			RETURN
				apiPackage
        ]]></cypher>
    </concept>

    <concept id="module:Implementation">
        <description>Labels all .impl packages as IMPLEMENTATION.</description>
        <cypher><![CDATA[
			MATCH
				(implementationPackage:PACKAGE)
			WHERE
				implementationPackage.FQN =~ ".*\\.impl"
			SET
			    implementationPackage:IMPLEMENTATION
			RETURN
				implementationPackage
        ]]></cypher>
    </concept>

    <concept id="module:PackagesPerModule">
        <requiresConcept refId="module:modules"/>
        <description>Return the number of packages per module.</description>
        <cypher><![CDATA[
            MATCH
                (module:PACKAGE:MODULE)-[:CONTAINS*0..1]->(p)
            RETURN
                module, COUNT(p) as packages
            ORDER BY
                packages DESC, module.FQN ASC
        ]]></cypher>
    </concept>

    <concept id="module:TypesPerModule">
        <requiresConcept refId="module:modules"/>
        <description>Return the number of types (i.e. classes, interfaces, enumerations and annotations) per module.</description>
        <cypher><![CDATA[
            MATCH
                (module:PACKAGE:MODULE)-[:CONTAINS*0..1]->(p),
                (p)-[:CONTAINS]->(t:TYPE)
            RETURN
                module, COUNT(t) as types
            ORDER BY
                types DESC, module.FQN ASC
        ]]></cypher>
    </concept>

    <constraint id="module:ApiMustNotDependOnImplementation">
        <requiresConcept refId="module:API"/>
        <requiresConcept refId="module:Implementation"/>
        <description>API packages must not have dependencies to implementation packages.</description>
        <cypher><![CDATA[
            MATCH
                (a:PACKAGE:API)-[:CONTAINS*0..1]->(p1),
                (i:PACKAGE:IMPLEMENTATION)-[:CONTAINS*0..1]->(p2),
                (p1)-[:DEPENDS_ON]->(p2)
            RETURN
                p1 as apiPackage, p2 as implementationPackage
            ORDER BY
                p1.FQN, p2.FQN
        ]]></cypher>
    </constraint>

    <constraint id="module:ModuleMustDependOnApiOfOtherModule">
        <requiresConcept refId="module:API"/>
        <requiresConcept refId="module:modules"/>
        <description>A module must only have dependencies to API packages of other modules.</description>
        <cypher><![CDATA[
            MATCH
                (module:PACKAGE:MODULE)-[:CONTAINS*0..1]->(p1),
                (otherModule:PACKAGE:MODULE)-[:CONTAINS*0..1]->(p2),
                (p1)-[:DEPENDS_ON]->(p2)
            WHERE
                module<>otherModule
                AND NOT p2:API
            RETURN
                p1 as api, p2 as implementation
            ORDER BY
                p1.FQN, p2.FQN
        ]]></cypher>
    </constraint>


</jqa:jqassistant-rules>