<jqa:jqassistant-rules xmlns:jqa="http://www.buschmais.com/jqassistant/core/analysis/rules/schema/v1.0">

    <concept id="module:Modules">
        <requiresConcept refId="module-store:Module"/>
        <requiresConcept refId="module-scanner:Module"/>
        <requiresConcept refId="module-report:Module"/>
        <requiresConcept refId="module-analysis:Module"/>
        <requiresConcept refId="module-pluginmanager:Module"/>
        <description>Returns all modules, i.e. all packages labelled with "Module".</description>
        <cypher><![CDATA[
			MATCH
				(package:Module)
			RETURN
				package
			ORDER BY
			    package.fqn
        ]]></cypher>
    </concept>

    <concept id="module:API">
        <description>Labels all .api packages as "Api".</description>
        <cypher><![CDATA[
			MATCH
				(apiPackage:Package)
			WHERE
				apiPackage.name = "api"
			SET
			    apiPackage:Api
			RETURN
				apiPackage
        ]]></cypher>
    </concept>

    <concept id="module:Implementation">
        <description>Labels all .impl packages as "Implementation".</description>
        <cypher><![CDATA[
			MATCH
				(implementationPackage:Package)
			WHERE
				implementationPackage.name = "impl"
			SET
			    implementationPackage:Implementation
			RETURN
				implementationPackage
        ]]></cypher>
    </concept>

    <concept id="module:PackagesPerModule">
        <requiresConcept refId="module:Modules"/>
        <description>Return the number of packages per module.</description>
        <cypher><![CDATA[
            MATCH
                (module:Package:Module)-[:CONTAINS*0..]->(p:Package)
            RETURN
                module, COUNT(p) as packages
            ORDER BY
                packages DESC, module.fqn ASC
        ]]></cypher>
    </concept>

    <concept id="module:TypesPerModule">
        <requiresConcept refId="module:Modules"/>
        <description>Return the number of types (i.e. classes, interfaces, enumerations and annotations) per module.</description>
        <cypher><![CDATA[
            MATCH
                (module:Package:Module)-[:CONTAINS*0..]->(p:Package),
                (p)-[:CONTAINS]->(t:Type)
            RETURN
                module, COUNT(t) as types
            ORDER BY
                types DESC, module.fqn ASC
        ]]></cypher>
    </concept>

    <constraint id="module:ApiMustNotDependOnImplementation">
        <requiresConcept refId="module:API"/>
        <requiresConcept refId="module:Implementation"/>
        <description>API packages must not have dependencies to implementation packages.</description>
        <cypher><![CDATA[
            MATCH
                (a:Package:Api)-[:CONTAINS*0..]->(p1:Package),
                (i:Package:Implementation)-[:CONTAINS*0..]->(p2:Package),
                (p1)-[:DEPENDS_ON]->(p2)
            RETURN
                p1 as api, COLLECT(p2.fqn) as implementation
            ORDER BY
                p1.FQN
        ]]></cypher>
    </constraint>

    <constraint id="module:ModuleMustDependOnApiOfOtherModule">
        <requiresConcept refId="module:API"/>
        <requiresConcept refId="module:Modules"/>
        <description>A module must only have dependencies to API packages of other modules.</description>
        <cypher><![CDATA[
            MATCH
                r1=(module:Package:Module)-[:CONTAINS*0..]->(p1:Package),
                r2=(otherModule:Package:Module)-[:CONTAINS*0..]->(p2:Package),
                (p1)-[:DEPENDS_ON]->(p2)
            WHERE
                module<>otherModule
                AND NONE (p IN NODES(r2) WHERE p:Api)
            RETURN
              p1 as dependent,
              COLLECT(p2.fqn) as dependencies
            ORDER BY
              p1.fqn
        ]]></cypher>
    </constraint>


</jqa:jqassistant-rules>