.DS_Store
/.idea
/.jqa-database
*~
*.iml
*.eml
*.log
/src/main/asciidoc/scanner.html
.java-version
pom.xml.updatetonextdevversion
pom.xml.updatetorelease
*.backup

# Ignore temporary shell scripts used to script small tasks
*.sh.ignore

# Maven related files and directories
target
/.mvn

