.treemap-d3 {
    height: 700px;
    position: relative;
}

.tooltip-d3 {
    position: absolute;
    font-size: 10px;
}

.node-d3 {
    font-size: 10px;
    color:#000000;
    line-height: 10px;
    overflow: hidden;
    text-indent: 2px;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}